<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
	{% include header.html %}
      </header>

      <section>
	{{ content }}
      </section>
    </div>
    <script src="{{ '/assets/js/dark.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/swatches.js' | relative_url }}"></script>
    {% if page.collection == 'entries' %}
    <script src="{{ '/assets/js/nomens.js' | relative_url }}"></script>
    {% endif %}
    {% if page.load_chrono %}
    <script src="{{ '/assets/js/chrono.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>  
